body {

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: 0   px;
    text-align: center;

}

nav {
    
    background-color: #219D01;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

nav h1{
    text-align: left ;
    padding-left: 40px;
   
}

nav img {
    height: 50px;
    
}

footer{

background-color: #219D01;
color: white;
position: fixed;
padding: 10px;
bottom: 0;
width: 100% ;
}